<div class="sidebar sticky-top">        
    <div class="sidebar-section">
        <h5><span>Newsletter</span></h5>
        {% include newsletter.html %}
    </div>
    <div class="sidebar-section">
        <h5><span>Advertisement</span></h5>
<script type="text/javascript">
	atOptions = {
		'key' : '9f30c56c038e211e092d1ed656e5057e',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
</script>
<script type="text/javascript" src="//difficultywithhold.com/9f30c56c038e211e092d1ed656e5057e/invoke.js"></script>
    </div>
</div>
